body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Добавляем автоматический отступ слева и справа, чтобы выровнять форму по центру */
  }
  
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 95%; /* Растягивает ввод на всю ширину родительского блока */
    /* или */
      padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px; 
  }
  
  .parent-container {
    text-align: center; /* Выравнивание содержимого по центру */
  }
  
  button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
